* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* оформлення для 2 завдання  */
.timer {
  display: flex;
  gap: 40px;
}

.field {
  font-size: 20px;
  color: #307DF0;
  font-weight: bold;
}

.label {
  font-size: 15px;
  color: #000;
}
